<!DOCTYPE html>
<html>
<head>
  <title>Offbeat Games</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap/css/bootstrap" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap/js/bootstrap" %>
  
  <%= csrf_meta_tags %>	
</head>
<body>

	<div class="topbar">
		<div class="header">		
			<div class="container">
				<a href="/"><%= image_tag "offbeat-logo.png", { class: "logo"}  %></a>		
				<ul class="nav nav-pills">
					<li><%= link_to 'Blog', {controller:'blog', action:'index'}, class:request.fullpath.starts_with?("/blog") ? "btn" : ""  %></li>
					<li><%= link_to 'Games', {controller:'game', action:'index'}, class:request.fullpath.starts_with?("/game") ? "btn" : ""  %></li>
					<li><%= link_to 'Press', {controller:'press', action:'index'}, class:request.fullpath.starts_with?("/press") ? "btn" : ""  %></li>
					<li><%= link_to 'Contact', {controller:'contact', action:'index'}, class:request.fullpath.starts_with?("/contact") ? "btn" : ""  %></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="main-content">
		<%= yield %>
	</div>
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="span4">
					<h3>Multiple Platforms</h3>
					<p>We develop games for many platforms including:</p>
					<ul>
						<li>Windows</li>
						<li>Mac OSX</li>
						<li>Linux</li>
						<li>Windows Phone 7</li>
						<li>Xbox 360</li>
					</ul>
				</div>
				
				<div class="span4">
					<h3>Fun</h3>
					<p>Our games are all about fun. There's really not more to it!</p>
				</div>
				
				<div class="span4">
					<h3>Indie?</h3>
					<p>We are not only indepent. We also make everything in house. Including code, art, music and sound fx.</p>
				</div>
			</div>
		</div>		
		<div id="footer-floor">
			<div class="container">
				<div class="pull-right">
					<a href="https://twitter.com/Th3dz" class="" data-show-count="false">Follow us on twitter @Th3dz</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>					
				</div>
				<p>Copyright &copy; Erik Skoglund 2012</p>				
			</div>
		</div>
	</footer>
	
</body>
</html>
